/* Base Styles (extra small devices - mobile) */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#top-section {
    background-image: url(Background-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    margin: 0;
    padding: 0;
}

#navbar {
    margin: 0px 29px 0 32px;
    padding: 0;
    display: flex;
}

#navlist {
    display: none;
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: #FFFFFF;
}

#hamburger {
    margin-left: 112px;
}

#title-section {
    margin: 216px 29px 310px 32px;
    max-width: 314px;
}

#rectangle {}

h2 {
    font-family: Libre Caslon Display, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    color: #FFFFFF;

    margin: 16px 0 16px 0;
}

.subtitle-text {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #FFFFFF;
    width: 314px;

    margin: 16px 0 50px 0;
}

.button-box {
    width: 153px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;

    margin: 16px 0 64px 0;
}

.button-text {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;

    padding: 9px 28px 11px 27px;
}

h3 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;

    margin: 78px 182px 78px 32px;
}

#bottom-section {
    margin-bottom: 43px;
}

#newscard {
    width: 311px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;

    margin: 32px auto;
}

#french,
#picasso,
#venice {
    display: block;
}

#french-tablet,
#picasso-tablet,
#venice-tablet {
    display: none;
}

.date {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #B7B7B7;

    margin: 35px 183px 28px 32px;
}

.news-title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;

    margin: 0 32px 18px 32px;
}

.read-more {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #D9852C;

    margin: 18px 32px 32px 183px;
}

#desktop-pic {
    display: none;
}


/* Small devices (tablets) */
@media screen and (min-width: 744px) {
    #top-section {
        background-image: url(Background-tablet.svg);
    }

    #hamburger {
        margin-left: 478px;
    }

    #title-section {
        margin-right: 72px;
        margin-left: 72px;
        max-width: 600px;
    }

    h2 {
        font-size: 70px;
        line-height: 86.52px;
    }

    .subtitle-text {
        width: 528px;
    }

    #bottom-section {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 61px;
    }

    #french,
    #picasso,
    #venice {
        display: none;
    }

    #french-tablet,
    #picasso-tablet,
    #venice-tablet {
        display: block;
    }

    #newscard {
        width: 187px;
    }

    .date {
        width: 100%;
        margin-top: 35px;
    }

    .news-title {
        font-size: 15px;
        line-height: 18.15px;
        width: 123px;
    }

    .read-more-1 {
        margin: 28px 32px 32px 59px;
    }

    .read-more-2 {
        margin: 46px 32px 32px 58px;
    }

    .read-more-3 {
        margin: 64px 32px 32px 59px;
    }

    #desktop-pic {
        display: none;
    }

}

/* Large devices (desktops) */
@media screen and (min-width: 1440px) {
    #top-section {
        background-image: url(Background-desktop.svg);
    }

    #hamburger {
        display: none;
    }

    #navbar {
        margin-right: 0;
    }

    #navlist {
        display: flex;
        margin: 32px 0px 221px 370px;
    }

    .pages li {
        display: inline;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #FFFFFF;
        margin-right: 35px;
        padding: 0;
    }

    .button-box-1 {
        margin: 0;
    }

    #title-section {
        margin-top: 0px;
    }

    #bottom-section {
        max-width: 1300px;
        margin: 0 auto;
        margin-bottom: 61px;
    }

    #french-tablet,
    #picasso-tablet,
    #venice-tablet {
        display: none;
    }

    #newscard {
        width: 419px;
    }

    .date {
        width: 100%;
    }

    .news-title {
        font-size: 25px;
        line-height: 30.26px;
        width: 355px;
    }

    .read-more-1 {
        margin: 34px 32px 32px 291px;
    }

    .read-more-2 {
        margin: 34px 32px 32px 291px;
    }

    .read-more-3 {
        margin: 64px 32px 32px 291px;
    }

    #desktop-pic {
        display: block;
    }
}